/* 기본 설정 */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background: linear-gradient(135deg, #cae3fc, #f1e2ff);
    /* 밝은 청색과 라벤더 그라데이션 */
    color: #7B9ACC;
}

#header {
    padding: 20px;
    text-align: center;
}

#header a {
    text-decoration: none;
    color: #7B9ACC;
}

@media screen and (max-width: 850px) {
    .column.left {
        flex: 1 0 100%;
    }

    .column.right {
        flex: 1 0 75%;
    }
}