/* 기본 설정 */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #F0EDCC;
    color: #02343F;
    font-size: 0.85em;
}

#header {
    padding: 20px;
    text-align: center;
}

#header a {
    color: #02343F;
    text-decoration: none;
}

@media screen and (max-width: 850px) {
    .column.left {
        flex: 1 0 100%;
    }

    .column.right {
        flex: 1 0 75%;
    }
}