.content {
    padding: 10px;
    color: #3E2723;
}

.column {
    float: left;
    padding: 10px;
}

.column.left {
    width: 580px;
}

.column.right {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

hr {
    border: 1px solid #3E2723;
    width: 25%;
}